@import url("https://fonts.googleapis.com/css?family=Numans");
html,
body {
    background-color: rgba(7, 7, 7, 0.5) !important;
}

.card {
    margin-top: auto;
    margin-bottom: auto;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #ffc312;
}

*/