{% extends "base.html" %} 
{% block title %}DUT Student Registration System
{%endblock %} 
{% block content %}
<h1>Test</h1>

<main>
  <h1>Book Shop</h1>
  
  <div id="books" class="card-group"></div>
  <div class=""></div>
  <button id="prev" type="button" class="btn btn-secondary">Prev</button>
  <button id="next" type="button" class="btn btn-primary">Next</button>
  <div id="message"></div>

  <form action="/books" method="get">
    <input type="submit" value="List Books" name="list_books" id="list_books" />
  </form>

</main>
{% endblock %}

<!--- 
-->

<!---
-->